html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

td {
  border: 3px solid firebrick;
  padding: 2em;
  text-align: center;
  font-size: 2em;
  transition: all .5s;
  user-select: none;
}

td:hover {
  cursor: pointer;
}
